# Server environment variables
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=

JWT_ACCESS_SECRET=
PORT=3000
NODE_ENV=development
CORS_ORIGINS=http://localhost:5173,https://career-bridge-23cd9.web.app
ADMIN_EMAILS=
